{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5>🕵️ Audit Logs</h5>

      <table class="table table-sm table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Time</th>
            <th>User</th>
            <th>Action</th>
            <th>Entity</th>
            <th>Event</th>
            <th>IP</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
          <tr>
            <td>{{ log.timestamp.strftime('%d-%b-%Y %H:%M') }}</td>
            <td>{{ log.user.username if log.user else 'SYSTEM' }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.entity_type }} : {{ log.entity_id }}</td>
            <td>{{ log.event_type }}</td>
            <td>{{ log.ip_address }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}
